.Rproj.user
.Rhistory
.RData*
.Ruserdata
Data/*.csv
Data/*.xlsx
Data/*.xlx
Data/*.txt
Output/*.csv
Output/*.xlsx
Output/*.docx
Output/*.xlx
Output/*.zip
*.csv
*.xlsx
*.zip
*.pdf
packrat/lib*/

.RDataTmp
.RDataTmp1
.RDataTmp2
Output/May26/IPTV_Subscriber_Report_February_2026.docx
